<!-- Footer ================================================== -->

<hr>
<footer class='footer'>
    <div class='container'>
        <div class='row'>
            <center>
                <p>
                Designed by the Unmanned Aerial Systems, Plant Sciences and Education Team with much help from <a href='http://getbootstrap.com'>Bootstrap</a>.
                </p>

                <p>&copy; 2017 Travis Desell, Joe P. Colletti, Jennifer Clarke, Greg Monaco and the University of North Dakota. Images are under creative commons or wikimedia commons licenses.</p>

                <p>
                <img style='height: 50px;' src='./img/nsf_logo.png'/>
                The UASPSE project has been generously funded by <a href='https://www.nsf.gov/awardsearch/showAward?AWD_ID=1636865&HistoricalAwards=false'>NSF Award #1636865</a>.
                </p>
            </center>
        </div>
    </div>
</footer>
