
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="row">
        <div class="col-xs-1">
        </div>

        <div class="col-xs-10">
            <div class="well transparent-well">
                <h2 style='color: white;'>NSF BDSPOKES: Unmanned Aerial Systems, Plant Sciences and Education</h2>
                <p style='color:white;'>
                    The UASPSE NSF Big Data Hubs Spoke Project aims to contribute in solving sustainable global food security by coordinating efforts by the academic, industrial, and governmental sectors to automate Big Data lifecycles, improve access to data assets, and train individuals with relevant skills and expertise.
                </p>
            </div> <!-- well transparent-well -->
        </div> <!-- col-xs-8 -->
    </div> <!-- row -->
</div> <!-- /jumbotron -->


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="well">
                <h2>News</h2>
                <h4>March 12, 2017</h4>
                <p>PI Grant McGimpsey and Co-PI Joe Colletti are heading to the National Science Foundation for the Big Data Hub and Spokes meeting this coming Friday.
                </p>
                <h4>March 8, 2017</h4>
                <p>
                The UASPSE website is online and under construction!
                </p>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="well">
                <a class="twitter-timeline" href="https://twitter.com/CitizenSciGrid">Tweets by CitizenSciGrid</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- /container -->


