<div style="padding-top: 20px;" class="container">
    <h2>Principal Investigators</h2>
    {{#people}}
    <div class="well">
        <div class="row">
            <div class="col-xs-3">
                <center>
                <img style="height:160px;" src="{{source}}"/>
                </center>
            </div>
            <div class="col-xs-9">
                <h3>{{#homepage}}<a href="{{homepage}}">{{name}}</a>{{/homepage}}{{^homepage}}{{name}}{{/homepage}} <small><a href="mailto:{{email}}">{{email}}</a> </small> </h3>
                <p>{{bio}}</p>
            </div>
        </div>
    </div>
    {{/people}}

    <hr>

    <h2>Advisory Board</h2>
    {{#board}}
    <div class="well">
        <div class="row">
            <div class="col-xs-3">
                <center>
                <img style="height:160px;" src="{{source}}"/>
                </center>
            </div>
            <div class="col-xs-9">
                <h3>{{#homepage}}<a href="{{homepage}}">{{name}}</a>{{/homepage}}{{^homepage}}{{name}}{{/homepage}} <small><a href="mailto:{{email}}">{{email}}</a> </small> </h3>
                <p>{{bio}}</p>
            </div>
        </div>
    </div>
    {{/board}}


</div>
