<!-- Main component for a primary marketing message or call to action -->
<div id='content' class='container'>

    <div class="row" style='margin-bottom:10px;'>
        <div class="col-sm-6">
            <div class="card" >
                <h5 class="card-header">UASPSE - About the Digital Ag Project</h5>
                <div class ="card-body">
                    <p><span style="font-weight: bold">Introduction</span><br><span style="margin-left: 20px;">The <a href="https://digital.ag.iastate.edu/" target="mbdh">Digital Agriculture Spoke</a> of the 
                        <a href="http://midwestbigdatahub.org/" target="mbdh">Midwest Big Data Hub</a> seeks to organize academic, industrial, and governmental 
                        sectors around the development of policies and best practices for data science and Big Data applications in 
                        agriculture, with a particular focus on automating the Big Data lifecycle for unmanned aircraft systems (UAS) and for 
                        plant sciences, phenomics, and genomics.</span></p>
                    <p><span style="font-weight: bold">Revolutions</span><br><span style="margin-left: 20px;">Historically, agricultural revolutions in cultivation, social 
                        organization, and industrialization have provided the means to increase food production. However, future 
                        revolutions must leverage the advantages provided by the modern information society. The 
                        <span style='font-weight: bold;'>UASPSE</span> project will serve as a catalyst for this data-driven revolution, which will be broad and 
                        societal in nature and address the triple-bottom line of being economically viable, socially acceptable, and 
                        environmentally sensible. Whereas the initial focus areas are specific, the resulting best practices and partnership-building 
                        will translate to and enable other areas such as remote sensing systems and farm management techniques.</span></p>
                    <p><span style="font-weight: bold">Outcomes</span><br><span style="margin-left: 20px;">An expected outcome 
                        is improved and efficient use of UAS, imaging, and genomics in agricultural sciences, ultimately leading to a more sustainable 
                        global food and nutrition system. Coordination of these activities will be enhanced through this Digital Agriculture open web 
                        portal of data science resources, designed to integrate existing information silos, facilitate collaboration, 
                        and contribute to workforce development. Educational activities and tools will be leveraged from pre-existing traineeship 
                        programs and collaborative entities, and broadened with newly developed annual workshops. Special issue-teams of academic, 
                        industrial, and governmental representatives will be used to conduct deep-learning analysis of project educational activities 
                        to identify and refine mechanisms for broadening and diversifying participation.</span></p>
                    <p><span style="margin-left: 20px;">Through these efforts, the collaboration will improve access to data assets, 
                        train a workforce with relevant skills and expertise, and will contribute to solving the Sustainable Global Food and 
                        Nutrition Security challenge.</span></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">UASPSE News</h4>
                <div class="card-body">
                    {{#news}}
                    <p><span style='font-weight: bold;'>{{date}} {{#title}} - {{title}} {{/title}}</span><br>
                    {{{html}}}
                    {{^last}}<hr>{{/last}}
                    {{/news}}
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
