<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="./">
    <img alt='Digital Agriculture: Unmanned Aircraft Systems, Plant Sciences, and Educaiton' src='img/uaspse-48-nob-trans.png' height='32' width='32' style='padding-top:0px; padding-bottom:0px; margin-right:2px'/>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class='nav-item {{home_active}}'><a class='nav-link' href='index.php'>Home</a></li>

            <li class="nav-item dropdown {{events_active}}">
                <a class="nav-link dropdown-toggle" href="#" id="eventDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Events
                </a>
                <div class="dropdown-menu" aria-labelledby="eventDropdown">
                    <a class="dropdown-item" href="workshop.php">2018 UAS Data Workshop</a>
                    <a class="dropdown-item" href="events.php?past">Past Events</a>
                </div>
            </li>

            <li class='nav-item {{leadership_active}}'><a class='nav-link' href='leadership.php'>Leadership</a></li>
            <li class='nav-item {{meetups_active}}'><a class='nav-link' href='meetups.php'>Meetups</a></li>
            <li class='nav-item {{members_active}}'><a class='nav-link' href='members.php'>Members</a></li>
            <li class='nav-item {{resources_active}}'><a class='nav-link' href='resources.php'>Resources</a></li>
            <li class='nav-item {{social_active}}'><a class='nav-link' href='social.php'>Social</a></li>
            <li class="nav-item dropdown {{webinars_active}}">
                <a class="nav-link dropdown-toggle" href="#" id="webinarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Webinars
                </a>
                <div class="dropdown-menu" aria-labelledby="webinarDropdown">
                    <a class="dropdown-item" href="webinars.php">Overview</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="unmanning_data.php">Unmanning Data Mondays</a>
                    <a class="dropdown-item" href="https://digital.ag.iastate.edu/isu-plant-phenomics-phridays-seminar-series">Plant Phenomics Phridays</a>
                    <a class="dropdown-item" href="http://greatplains.wpengine.com/archives/presentations/">Big Data Zoom Webinars</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav">
            {{#logged_in}}
            <li class="nav-item dropdown {{account_active}}">
                <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="loginDropdown">
                    <a class="dropdown-item" href="account.php">Account Information</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="?logout=1">Sign Out via LinkedIn</a>
                </div>
            </li>
            {{/logged_in}}

            {{^logged_in}}
            <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="javascript:void(0);">Login</a></li>
            {{/logged_in}}
        </ul>
    </div>
</nav>

