<!-- Main component for a primary marketing message or call to action -->
<div id='content' class='container'>
	<div class="row" style="margin-bottom:10px;">

		<div class="col-sm-6">
            <div class='card'>
                <h5 class='card-header'>UPSiE TwitterScape</h5>
                <div class='card-body' style="height: 500px; margin: 0px; padding: 0px;">
                    <a style='height: 500px; margin: 0px; padding: 0px' class="twitter-timeline" data-height='500px' href="https://twitter.com/BgDataDigitalAg">Tweets by BgDataDigitalAg</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class='card'>
                <h5 class='card-header'>UPSiE Social Media Groups</h5>
                <div class='card-body' style='padding:0px'>
                    <div style='margin-top: 0px; margin-bottom: 5px;'>
                        <table>
                            <tr>
                                <td style='padding: 5px; width: 32px; vertical-align: top; align: left;'>
                                    <img alt='UPSiE Icon' style='height: 32px;' src='img/uaspse-48.png' />
                                </td>
                                <td style='padding: 5px; vertical-align: top; align: left;'>
                                    Join the conversation online, whether its the on any of these sites:
                                    <ul>
                                        <li>Facebook - <a href='https://www.facebook.com/groups/1933274716892061/' 
             target='socialmedia'>Big Data Digital Ag</a></li>
                                        <li>Twitter - <a href='https://twitter.com/BgDataDigitalAg' 
             target='socialmedia'>@BgDataDigitalAg</a></li>
                                        <li>Meetup.com - <a href='https://www.meetup.com/pro/producers' 
             target='socialmedia'>Big Data & UAS in Digital Ag</a></li>
                                        <ul></p>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>

	</div>
</div> <!-- /container -->
